.DS_Store
__pycache__
db.sqlite3
uwsgi.log
uwsgi.pid
.idea
venv
.vscode/
migrations/
media/issueList/
Apps/common/migrations/
Apps/connection/migrations/
Apps/issueList/migrations/
Apps/overlayList/migrations/
Apps/stationTrack/migrations/
Apps/testCoverage/migrations/
Apps/userInfo/migrations/
media/
static/sendEmail/history/

